<form [formGroup]="itemForm" (ngSubmit)="updateSelf()">
  <a class="collapsed bg-secondary border-start border-3 border-dark d-flex justify-content-between text-decoration-none px-3 py-2 w-100 m-0 z-0"
     data-bs-toggle="collapse" [attr.data-bs-target]="dataToggleAttr" aria-expanded="true" [ngClass]="{'disabled-cursor' : editActive}">
    <p class="item-name text-light m-0" [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}">{{item.name}}</p>
    <input class="w-50 m-0 z-1" [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}"
           id="name" type="text" value="{{item.name}}" formControlName="name" />
    <p class="item-amount text-light m-0" [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}">{{item.amount}}</p>
    <input class="w-25 m-0  z-1" [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}"
           id="amount" type="text" value="{{item.amount}}" formControlName="amount" />
  </a>
  <!--remove show to load all items collapsed-->
  <div class="item-dropdown collapse" [attr.id]="itemDropDownAttrTarget">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-flex flex-column m-0 text-center">
      <li [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}">{{item.description}}</li>
      <li [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}">
        <label for="description">Description:</label>
        <input class="w-100" type="text" value="{{item.description}}" id="description" formControlName="description" />
      </li>
      <li class="d-flex flex-row justify-content-center">
        <p class="m-0">Due&nbsp;</p>
        <span [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}">{{dayDisplay.occurrences[item.occurrence]}}</span>
        <select #occurrence [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}"
                id="occurrence" name="occurrence" formControlName="occurrence">
          <option *ngFor="let occurr of dayDisplay.occurrences; let i = index"
                  [ngValue]="i"
                  [attr.selected]="(i + 1) == 1 ? true : null">
            {{occurr}}
          </option>
        </select>
        <p class="m-0">&nbsp;{{dayDisplay.dayPrefix(itemForm)}}&nbsp;</p>
        <div [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}">
          <p  class="m-0" [ngClass]="{'edit-show': !dayDisplay.dropdownShow(1, itemForm),
                         'edit-hide': dayDisplay.dropdownShow(1, itemForm)}">{{item.occurrenceDay}}</p>
        </div>
        <div  [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}">
          <p  class="m-0" [ngClass]="{'edit-show': !dayDisplay.dropdownShow(2, itemForm),
                         'edit-hide': dayDisplay.dropdownShow(2, itemForm)}">{{dayDisplay.weekDays[item.occurrenceDay - 1]}}</p>
        </div>
        <div [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}">
          <select #occurrenceDay [ngClass]="{'edit-show': !dayDisplay.dropdownShow(1, itemForm),
                                            'edit-hide': dayDisplay.dropdownShow(1, itemForm)}"
                  id="occurrenceDay" name="occurrenceDay" formControlName="occurrenceDay">
            <option *ngFor="let day of dayDisplay.occurrenceDays"
                    [ngValue]="day"
                    [attr.selected]="item.occurrenceDay === day ? true : null">
              {{day}}
            </option>
          </select>
        </div>
        <div [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}">
          <select #occurrenceWeekday [ngClass]="{'edit-show': !dayDisplay.dropdownShow(2, itemForm),
                                            'edit-hide': dayDisplay.dropdownShow(2, itemForm)}"
                  id="occurrenceWeekday" name="occurrenceWeekday" formControlName="occurrenceWeekday">
            <option *ngFor="let weekday of dayDisplay.weekDays; let i = index"
                    [ngValue]="i + 1"
                    [attr.selected]="item.occurrenceDay == (i + 1) ? true : null">
              {{weekday}}
            </option>
          </select>
        </div>
      </li>
    </ul>
    <div class="edit-items-area d-flex gap-1 p-1">
      <button type="button" class="btn btn-sm btn-warning w-50" [ngClass]="{'edit-show': editActive, 'edit-hide': !editActive}"
              (click)="toggleEditMode()">
        Edit
      </button>
      <button type="submit" class="btn btn-sm btn-success w-50" [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}">
        Save
      </button>
      <button type="button" class="btn btn-sm btn-secondary w-50" [ngClass]="{'edit-show': !editActive, 'edit-hide': editActive}"
              (click)="toggleEditMode()">
        Cancel
      </button>
      <button type="button" class="btn btn-sm btn-danger w-50" (click)="deleteSelf(item)">Delete</button>
    </div>
  </div>
</form>
