a {
    margin-bottom: 1px;
}

a:hover{
    cursor: pointer;
}
.edit-show {
    display: none;
}
.edit-hide {
    display: block;
}
ul {
    padding: 0 !important;
}
li {
    display: flex;
    flex-direction: column;
}
.item-name{

}
